{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<!-- <style>
    .fakeimg {
      height: 200px;
      wi
      background: #aaa;
    }
</style> -->


<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <h2>Nosotros</h2>
         <h4>Buscamos el bienestar y salud de todos nuestros residentes</h4>
         <p>En nuestra residencia nos encargamos que cada paciente que ingrese reciba
           la mejor atención y cuidado. Tenemos los mejores profesionales dispuestos de cuidar y atender a cada paciente.
         </p>

         <img src="/static/Personal_pacientes.jpg" alt="personal_pacientes" width="345px" >
        <hr class="d-sm-none">
      </div>
  

      <div class="col-sm-8">
        <h2>Historia</h2>
        <p>El 2017 fundamos Gerovitalis, conscientes del rol fundamental que desempeñan los adultos mayores en nuestra sociedad, como fuente de memoria y sabiduría.
          Desde esa mirada de admiración y respeto, nuestras residencias buscan mantener vivo y aprovechar ese conocimiento adquirido, con actividades culturales y recreativas. 
        </p>  
        <p>
          Nos enfocamos también en mejorar el desarrollo y calidad de vida de nuestros residentes con servicios integrales y personalizados en un ambiente familiar, 
          rodeado de áreas verdes y con un equipo de profesionales especializados en su cuidado y atención.
        </p>
      
        <br>
        <h2>Nuestro centro</h2>
        <div class="fakeimg"> <img src="/static/gerovitalis-Portales.jpg" alt="residencia-portales" width="450px"></div>

        <br>
        <p>Tenemos un gran centro con muchas areas verdes en las que nuestros pacientes se sentirán muy relajados y como en casa.</p>
      </div>
    </div>      
  </div>
  

  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Proyecto del curso de Base de datos y plataformas - 2021</p>
  </div>
 


{% endblock %}